.item {
  display: flex;

  background-color: var(--button-color);
  color: #ababab;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 1rem;

  list-style-type: none;
  margin: 0;
  margin-top: 10px;
}

.username {
  font-weight: bold;
}
