.card{
    background-color: #2A2E32;
    border-radius: 1rem;
    width: 40%;
    color: white;
    padding: 2rem;
    margin-bottom: 20px;
  
}

.shadow{
    box-shadow: -5px -5px 30px 5px red, 5px 5px 30px 5px blue;
}